.venv/
__pycache__/
*.pyc
.env
.pytest_cache/
.DS_Store
*.egg-info/

documents/*.pdf
documents/*.txt
!documents/.gitkeep

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*
